<link href="{{'assets/css/dropify.min.css'|theme}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{'assets/editor/fontawsome.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/froala_editor.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/froala_style.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/code_view.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/colors.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/draggable.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/emoticons.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/image_manager.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/image.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/line_breaker.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/table.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/char_counter.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/video.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/fullscreen.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/file.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/css/plugins/quick_insert.css'|theme}}">
<link rel="stylesheet" href="{{'assets/editor/codemirror.min.css'|theme}}">
<style>

.fr-desktop .fr-command:not(.fr-table-cell) {
  border:2px solid #1cb9c8 !important;
color:#1cb9c8 !important;
}
.fr-desktop .fr-command:hover:not(.fr-table-cell) {
  background: #1cb9c8 !important;
  color: #ffffff !important;
}
.fr-btn:hover .fr-svg path {
  fill: #ffffff !important;
}
.fr-btn{
  padding: 0px 10px !important;
}
.fr-element p {
  font-weight: 300;
}
.second-toolbar a#logo{
  display: none;
}
</style>
{% if addpin == 1%}
<div class="modal-header">
    <h3>Pin Edited</h3>
    <button type="button" class="close" data-request="onCloseModalEdit" data-request-data="id:'{{pin.id}}'" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row px-5">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="row">
                <div class="col-md-6 text-center ml-auto mr-auto my-4">
                    <i class="fas fa-check-circle text-primary" style="font-size:150px;"></i>
                </div>
                <div class="col-md-12">
                    <h2 class="text-primary text-center">Your Pin is Successfully Edited!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <a href="#" data-request="onCloseModalEdit" data-request-data="id:'{{pin.id}}'" data-dismiss="modal" class="btn btn-primary "> Close</a>
</div>
{% set addpin = 0%}
{%else%}

    <div class="modal-body px-5">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="header-title">Edit Pin Template</h2>
                <div class="form-group">
                    <h4 class="header-title">Title</h4>
                    <input type="text" required name="title" value="{{pin.title}}" id="edittitle{{pin.id}}" class="form-control">
                    <span style="color:red;display:none; font-size:12px;" id="edittitleerror{{pin.id}}">This field is required!</span>
                </div>

                <input type="hidden" value="" id="editorgbase64{{pin.id}}">
                <input type="hidden" id="editpinid{{pin.id}}" value="{{pin.id}}">
<input type="hidden" value="" id="edittemplate{{pin.id}}">
            </div>

            <div class="col-md-3 mt-35 align-self-center">
                <input type="file" id="editorglogo{{pin.id}}" name="logo" class="dropify" data-default-file="{{pin.image}}" data-max-file-size="3M" data-height="140" />
                <span style="color:red;display:none; font-size:12px;" id="editorglogoerror{{pin.id}}">This field is required!</span>
            </div>
            <div class="col-md-12 align-self-center">
              <div id='edpin{{pin.id}}' style="margin-top: 30px;">
{{pin.template | raw}}
              </div>
                <span style="color:red;display:none; font-size:12px;" id="desceerror{{pin.id}}">Template is required!</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" id="editaddorgspin{{pin.id}}" style="width:21%;display:none" class="btn btn-primary"><i class="fa-spin fa fa-spinner text-white"></i></button>
        <button type="button" id="editaddorg{{pin.id}}" onclick="editaddorganization('{{pin.id}}')" class="btn btn-primary"> Edit</button>
    </div>
    <script src="{{'assets/js/dropify.min.js'|theme}}"></script>
    <script>
    $('.dropify-preview').css('display','block')
    $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a Pin Logo',
            'replace': 'Drag and drop or click to replace',

            'error': 'Ooops, something wrong appended.'
        },
        error: {
            'fileSize': 'The file size is too big (1M max).'
        }
    });
    </script>
{%endif%}

<script type="text/javascript"
  src="{{'assets/editor/codemirror.min.js'|theme}}"></script>
<script type="text/javascript"
  src="{{'assets/editor/xml.min.js'|theme}}"></script>

<script type="text/javascript" src="{{'assets/editor/js/froala_editor.min.js'|theme}}"></script>

<script type="text/javascript" src="{{'assets/editor/js/plugins/align.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/code_beautifier.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/code_view.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/colors.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/draggable.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/emoticons.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/font_size.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/font_family.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/image.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/file.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/image_manager.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/line_breaker.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/link.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/lists.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/paragraph_format.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/paragraph_style.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/video.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/table.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/url.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/entities.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/char_counter.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/inline_style.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/save.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/fullscreen.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/quote.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/editor/js/plugins/quick_insert.min.js'|theme}}"></script>
<script>

  (function () {
    var callback = function () {
    var editor = this

    editor.codeBeautifier.run(
  document.getElementById('edittemplate{{pin.id}}').value = editor.html.get()
    )

    }
      FroalaEditor.DefineIcon('Date Issued')
      FroalaEditor.RegisterCommand('Date Issued', {
        title: 'Date Issued',
        focus: false,
        undo: false,
        refreshAfterCallback: false,
        callback: function () {
            this.html.insert('{issued_date}')
        }
      })
      FroalaEditor.DefineIcon('Certificate Url')
      FroalaEditor.RegisterCommand('Certificate Url', {
        title: 'Certificate Url',
        focus: false,
        undo: false,
        refreshAfterCallback: false,
        callback: function () {
        this.html.insert('{certificate_url}')
        }
      })
      FroalaEditor.DefineIcon('Certificate Title')
      FroalaEditor.RegisterCommand('Certificate Title', {
        title: 'Certificate Title',
        focus: false,
        undo: false,
        refreshAfterCallback: false,
        callback: function () {
          this.html.insert('{certificate_title}')
        }
      })
      FroalaEditor.DefineIcon('Certificate Description')
      FroalaEditor.RegisterCommand('Certificate Description', {
        title: 'Certificate Description',
        focus: false,
        undo: false,
        refreshAfterCallback: false,
        callback: function () {
          this.html.insert('{certificate_description}')
        }
      })
    new FroalaEditor('#edpin{{pin.id}}', {
      events: {
   initialized: callback,
   contentChanged: callback
 },
    toolbarButtons: [ ['undo', 'redo','underline', 'alignLeft', 'alignCenter', 'alignRight','insertImage','html','bold'], ['Certificate Title', 'Date Issued', 'Certificate Url', 'Certificate Description'] ]
    })
  })()
</script>
<script type="text/javascript">


    function editorgreadURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('editorgbase64{{pin.id}}').value = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#editorglogo{{pin.id}}").change(function() {
        editorgreadURL(this);
    });



    // $('.dropify').dropify({
    //     messages: {
    //         'default': 'Drag and drop a photo',
    //         'replace': 'Drag and drop or click to replace',
    //         'remove': 'Remove',
    //         'error': 'Ooops, something wrong appended.'
    //     },
    //     error: {
    //         'fileSize': 'The file size is too big (1M max).'
    //     }
    // });

</script>
