    <div class="modal-body p-0" id="pintemplate">
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="card p-2 border-dark card-inverse" style="background-color: #fff; border-color: #fff; border-radius:10px">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 text-center ">
                                <img id="viewmyrenderimage" class="btn-md mt-25" src="/themes/honorpins/assets/img/pinlogo.png" class="" alt="" style="width:100px;height:100px;border-radius:50%;" />
                            </div>
                            <div class="col-md-10 col-sm-10 ">
                                <div class="row">
                                <div class="col-md-12 col-sm-12">
                                <h2 class="card-title text-gray-dark" id="viewmyrendertitle"><i style="color:#ccc;">Pin_Title</i></h2>
                              </div>
                                <div class="col-md-12 col-sm-12">
                                <p class="card-text text-gray-dark" style="line-height:1.5;font-size:14px"><strong>By PMI: </strong> <span id="viewmyrenderurl"> <i style="color:#ccc;">PMI_Website_Url</i></span> </p>
                              </div>
                                <div class="col-md-5 col-sm-5">
                                <p class="card-text text-gray-dark" style="line-height:1.5;font-size:14px"><strong>Certificate No: </strong>  <span id="viewmyrenderregno"><i style="color:#ccc;">RegNo</i></span></p>
                                 </div>
                                   <div class="col-md-2 col-sm-2">
                                 <strong></strong>
                               </div>
                                 <div class="col-md-5 col-sm-5">
                                 <p style="line-height:1.5;font-size:14px"><strong>Granted Date:</strong> <span id="viewmyrenderstartdate"><i style="color:#ccc;">Start_date</i></span></p>
                               </div>
                                 <div class="col-md-12 col-sm-12" style="height:100px">
                                <p style="line-height:1.5;font-size:13px" id="viewmyrenderdesc">
                                  <i style="color:#ccc;">Description</i></p>
                            </div>
                          </div>
                          </div>
                          <div class="col-md-12 col-sm-12 pb-15 pl-25">
                              <p class="card-text text-gray-dark" style="line-height:1.5"><strong>Signed By: </strong> <span id="viewmyrenderholdername"><i style="color:#ccc">Holder_Name</i></span> </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->

    </div>
