title = "User Dashboard"
url = "/dashboard/my-orders"
layout = "default"
[account]
redirect=0
[session]
[Dashboard]
==
<?php
use Intervention\Image\ImageManagerStatic as Image;

function onRenderPayment(){
  $order = Codersocean\Honorpins\Models\Order::where('id',post('id'))->first();
  $this['cartitems'] = Codersocean\Honorpins\Models\OrderDetail::where('order_id',post('id'))->get();
  $this['tax'] = 2;
  $this['unitprice'] = 5;
    $this['user'] = $user = Auth::getuser();
  return [
  $this['cartitems'] ,
'#renderaddcardorder' => $this->renderPartial('order/renderaddcardorder'),
  ];



}
function onSendEmail(){
  $this['user'] = $user = Auth::getuser();
  $addorganization = Codersocean\Honorpins\Models\Organization::where('id',post('id'))->first();
  $datamail = [
              'name' => $user->name.' '.$user->surname,
              'code' => $addorganization->verification_code,

          ];
  Mail::send('organization.verification.code', $datamail, function($message) use ($addorganization) {
              $message->to($addorganization->org_email, $addorganization->org_email);
               $message->from('noreply@honorpins.com','Verification Messege');
          });
  return post('id');
}
function onStart(){
  $this['categories'] = Codersocean\Honorpins\Models\Categories::get();
  $this['user'] = $user = Auth::getuser();

  if(!$user){
    $redrect = '/login';
    return Redirect::to($redrect);
  }

  $this['myorders'] = Codersocean\Honorpins\Models\Order::where('user_id',$user->id)->get();
}
function onSelectmySavedCard(){
    $this['user'] = $user = Auth::getuser();
    $card =$this['card']= Codersocean\Honorpins\Models\PaymentMethod::where('id',post('id'))->first();
    $cartitems= Codersocean\Honorpins\Models\OrderDetail::where('order_id',post('order_id'))->get();
  $this['cartitems']  =   $cartitems;
  $this['unitprice'] = 5;
  $this['tax'] = 2;
    return [
    '#selectedcardnowed' => $this->renderPartial('addcredit/selectedcardsfororder')
    ];
}
function onCheckoutOrderWithSavedcards(){
  $this['user'] = $user = Auth::getuser();

  $order = Codersocean\Honorpins\Models\Order::where('id',post('order_id'))->first();
  $orderitems = Codersocean\Honorpins\Models\OrderDetail::where('order_id',post('order_id'))->get();
  $items = Codersocean\Honorpins\Models\OrderDetail::where('order_id',post('order_id'))->count();
  $card = Codersocean\Honorpins\Models\PaymentMethod::where('cus_id',post('cus'))->first();
  $log = new Codersocean\Honorpins\Models\PaymentLogs;
  $log->user_id = $user->id;
  $log->amount = post('amountpaid');
  $log->items = $items;
  $log->payment_method = $card->type;
  $log->transaction_id = post('transaction_id');
  $log->receipt_url = post('receipt_url');
  $log->charge_id = post('charge_id');
  $log->refund_url = post('refund_url');
  $log->save();
  foreach($orderitems as $orderitem){
    $datamail = [
                'name' => $orderitem->name,
                'certificate' => $order->certificate->title,
                'organization' => $order->organization->org_name,

            ];
    Mail::send('certificate.pin.order', $datamail, function($message) use ($orderitem) {
                $message->to($orderitem->email, $orderitem->email);
                 $message->from('noreply@honorpins.com','Your Certification Pin is Created By Issuer!');
            });
    $items = Codersocean\Honorpins\Models\Holderpins::where('email',$orderitem->email)->where('certificate_id',$order->certificate_id)->first();
    $items->pin_status = 1;
    $items->save();
  }
  $order->pin_status = 1;
  $order->save();


  return [
  '#allmyorders' => $this->renderPartial('order/allorders'),
  ];
}
function onCheckoutOrder(){
  if(post('is_saving') == 1){
    $user = $this['user']= Auth::getuser();
    $add = new Codersocean\Honorpins\Models\PaymentMethod;
    $add->cus_id = post('cus_id');
    $add->name = post('name');
    $add->type = post('type');
    $add->brand = post('brand');
    $add->last_digit = post('last_digit');
    $add->ex_date = post('exp');
    $add->user_id = $user->id;
    $add->save();
  }
  $this['user'] = $user = Auth::getuser();

  $order = Codersocean\Honorpins\Models\Order::where('id',post('order_id'))->first();
  $orderitems = Codersocean\Honorpins\Models\OrderDetail::where('order_id',post('order_id'))->get();
  $items = Codersocean\Honorpins\Models\OrderDetail::where('order_id',post('order_id'))->count();

$log = new Codersocean\Honorpins\Models\PaymentLogs;
$log->user_id = $user->id;
$log->amount = post('amountpaid');
$log->items = $items;
$log->payment_method = post('type');
$log->transaction_id = post('transaction_id');
$log->receipt_url = post('receipt_url');
$log->charge_id = post('charge_id');
$log->refund_url = post('refund_url');
$log->save();
  foreach($orderitems as $orderitem){
    $datamail = [
                'name' => $orderitem->name,
                'certificate' => $order->certificate->title,
                'organization' => $order->organization->org_name,

            ];
    Mail::send('certificate.pin.order', $datamail, function($message) use ($orderitem) {
                $message->to($orderitem->email, $orderitem->email);
                 $message->from('noreply@honorpins.com','Your Certification Pin is Created By Issuer!');
            });
    $items = Codersocean\Honorpins\Models\Holderpins::where('email',$orderitem->email)->where('certificate_id',$order->certificate_id)->first();
    $items->pin_status = 1;
    $items->save();
  }
  $order->pin_status = 1;
  $order->save();


return [
'#allmyorders' => $this->renderPartial('order/allorders'),
];
}
?>
==
<link href="{{ 'assets/css/switch.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/dashboard.css'|theme }}" rel="stylesheet">
<style>
.collapse .nav-item {

}
.rotateas{
-webkit-transform: rotate(90deg);  /* Chrome, Safari, Opera */
-moz-transform: rotate(90deg);  /* Firefox */
-ms-transform: rotate(90deg);  /* IE 9 */
transform: rotate(90deg);  /* Standard syntax */
}
</style>
<script>
$(document).ready(function(){
// Add minus icon for collapse element which is open by default


// Toggle plus minus icon on show hide of collapse element
$(".collapse").on('show.bs.collapse', function(){
$(this).addClass("nav-tabs");
$(this).parent().find(".pull-right").removeClass("fa-angle-right");

    $(this).parent().find(".pull-right").addClass("fa-angle-down");
}).on('hide.bs.collapse', function(){
$(this).removeClass("nav-tabs");
$(this).parent().find(".pull-right").removeClass("fa-angle-down");

  $(this).parent().find(".pull-right").addClass("fa-angle-right");
});
});
</script>
<section>
    <div class="header-space"></div>
    <div class="container mt-65 py-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Orders</h2>
            </div>
            <div class="col-lg-3">
                <div class="acc-leftbar">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item  nav-link" href="/dashboard/organizations" ><i class="fas fa-building"></i>Organization</a>
                        <a class="nav-item  nav-link"  href="/dashboard/organization-pins" ><i class="fas fa-certificate"></i>Pins</a>
                          <a class="nav-item nav-link"  href="/dashboard/organization-certificates" ><i class="fas fa-medal"></i>Certificates</a>
                          <a class="nav-item active nav-link"  href="/dashboard/my-orders" ><i class="fas fa-shopping-cart"></i>Purchases</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active " id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                        <div class="row">



                            {%  if myorders|length > 0 %}
                            <div class="col-md-3 col-lg-3 ml-auto my-3 text-right">
                                <a href="/dashboard/create-order" class="btn btn btn-primary" >Order Now</a>
                            </div>
                            {%endif%}

                        </div>



                        {%  if user.myorders|length > 0 %}
                        <div id="allmyorders">
                          {% partial 'order/allorders'%}
                        </div>
                        {%else%}
                        <div class="row " style="height: 250px;">
                            <div class="col-lg-4 text-center ml-auto mr-auto my-auto">
                                <i class="fas fa-shopping-cart text-primary" style="font-size:100px;"></i>
                                <h4 class="text-primary mt-15">No recent order yet!</h4>
                                    <a href="/dashboard/create-order" class="btn btn btn-primary"> Order Now</a>
                            </div>
                        </div>
                        {%endif%}

                    </div>
                    </div>
                </div></div></div>

                    <div class="header-space"></div>
</section>

<script type="text/javascript">

    function sendemail(id) {
        console.log(id)
        var loader = 'spinner' + id;
        var messege = 'successfullysent' + id;
        document.getElementById(loader).style.display = 'block'
        document.getElementById(messege).style.display = 'none'
        $.request('onSendEmail', {
            data: {
                id: id
            }
        }).done(function(data) {
            document.getElementById(loader).style.display = 'none'
            document.getElementById(messege).style.display = 'block'
            return data;
        });

    }

    function sendemailadd(id) {
        console.log(id)
        document.getElementById('spinneradd').style.display = 'block'
        document.getElementById('successfullysentadd').style.display = 'none'
        $.request('onSendEmail', {
            data: {
                id: id
            }
        }).done(function(data) {
            document.getElementById('spinneradd').style.display = 'none'
            document.getElementById('successfullysentadd').style.display = 'block'
            return data;
        });

    }
</script>
