title = "User Dashboard"
url = "/dashboard/:slug?"
layout = "default"
[account]
redirect=0
[session]
==
<?php
function onStart(){
  $this['user'] = $user = Auth::getuser();
  $this['myorganizations'] = Codersocean\Honorpins\Models\Organization::where('user_id',$user->id)->orderBy('created_at')->get();
}
function onVerifyOrganization(){
  $organization  = Codersocean\Honorpins\Models\Organization::where('id',post('id'))->first();
  if($organization->verification_code == post('code')){
    $organization->status = 1;
    $organization->save();
    $this['addorganization'] = 1;
    $this['verifiedorganization'] = 1;
    return [
        '#completeorganization' => $this->renderPartial('profile/addorganization')
    ];
  }else{
    $this['error'] = 'Your Verification Code is not Valid!';
    return [
        '#verifycheck' => $this->renderPartial('profile/error')
    ];
  }


}
function onAvatar(){
$user = Auth::getuser();
$update = RainLab\User\Models\User::where('id',$user->id)->first();
$update->avatar = Input::file('customFile');
$update->save();
$this['user'] = $user = Auth::getuser();
return [
        '#updateprofile' => $this->renderPartial('profile/profilesetting')
    ];

}
function onAddOrganization(){
  $emailposition = strpos(post('officialemail'),"@");
  $emailposition = $emailposition+1;
  $emailweb = substr(post('officialemail'),$emailposition,strlen(post('officialemail')));
  if($emailweb === 'gmail.com'){
    $this['error'] = 'Gmail is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else if($emailweb === 'zohomail.com'){
    $this['error'] = 'Zoho is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else if($emailweb === 'protonmail.com'){
    $this['error'] = 'Proton Mail is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else if($emailweb === 'outlook.com'){
    $this['error'] = 'Outlook is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else if($emailweb === 'tutanota.com'){
    $this['error'] = 'Tutanota is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else if($emailweb === 'yahoo.com'){
    $this['error'] = 'Yahoo is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else if($emailweb === 'icloud.com'){
    $this['error'] = 'iCloud is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else if($emailweb === 'yandex.com'){
    $this['error'] = 'Yandex is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else if($emailweb === 'aol.com'){
    $this['error'] = 'Aol is free service. Kindly provide an organization email.';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }else{
if (strpos(post('website'), '://www.') !== false) {
  $position = strpos(post('website'),"://www.");
  $position = $position + 7;
  $web = substr(post('website'),$position ,strlen(post('website')));
  $emailposition = strpos(post('officialemail'),"@");
  $emailposition = $emailposition+1;
  $emailweb = substr(post('officialemail'),$emailposition,strlen(post('officialemail')));
  if($web !== $emailweb){
    $this['web'] = $web;
    $this['emailweb'] = $emailweb;
    $this['error'] = 'Your email should contain organization domain! eg. name@domainname.com';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }
}else if(strpos(post('website'), '://') !== false){
  $position = strpos(post('website'),"://");
  $position = $position + 3;
  $web = substr(post('website'),$position ,strlen(post('website')));
  $emailposition = strpos(post('officialemail'),"@");
  $emailposition = $emailposition+1;
  $emailweb = substr(post('officialemail'),$emailposition,strlen(post('officialemail')));
  if($web != $emailweb){
    $this['web'] = $web;
    $this['emailweb'] = $emailweb;
    $this['error'] = 'Your email should contain organization domain! eg. name@domainname.com';
    return [
    '#emailerror' => $this->renderPartial('profile/error')
    ];
  }
}
$user =Auth::getuser();
$addorganization = new Codersocean\Honorpins\Models\Organization;
$addorganization->user_id= $user->id;
$addorganization->org_name= post('organization_name');
$addorganization->website= post('website');
$addorganization->org_email= post('officialemail');
$addorganization->phone= post('phone');
$addorganization->city= post('city');
$addorganization->country= post('country');
$addorganization->zip= post('zip');
$addorganization->address= post('street_address');
if(!empty(post('mobile'))){
  $addorganization->mobile= post('mobile');
}else{
  $addorganization->mobile= 'null';
}

$addorganization->status= 0;
$addorganization->state= post('state');
$Caracteres = '0123456789';
    $QuantidadeCaracteres = strlen($Caracteres);
    $QuantidadeCaracteres--;
    $Hash=NULL;
        for($x=1;$x<=6;$x++){
            $Posicao = rand(0,$QuantidadeCaracteres);
            $Hash .= substr($Caracteres,$Posicao,1);
        }
$addorganization->verification_code = $Hash;
if (Input::hasFile('customFile'))
{
$images = Input::file('customFile');
$fileName = 'logo'.time().'_'.'.'.$images->getClientOriginalExtension();
$fileName = str_replace(' ', '_', $fileName);
$addorganization->logo ='/storage/app/uploads/web/'.$fileName;
  $images->move(public_path('/storage/app/uploads/web/'), $fileName);
}else{
  $this['error'] = 'Logo is required for register an organization!';
  return [
  '#logoerror' => $this->renderPartial('profile/error')
  ];
}
  $this['addorganization'] = 1;

  $addorganization->save();
    $this['org'] = $addorganization;
return [
  '#completeorganization' => $this->renderPartial('profile/addorganization')
];
}
}
function onGetLogo(){
  $images = Input::file('customFile');
$user =Auth::getuser();
$fileName = 'logo'.$user->id.'_'.'.'.$images->getClientOriginalExtension();
$fileName = str_replace(' ', '_', $fileName);
$image='logo';
  $this['prganizationlogo'] ='/storage/app/uploads/web/'.$fileName;
    $images->move(public_path('/storage/app/uploads/web/'), $fileName);
$this['photocaptured'] = 1;
return [
        '#addlogo' => $this->renderPartial('profile/addlogo')
    ];

}
?>
==
<link href="{{ 'assets/css/dashboard.css'|theme }}" rel="stylesheet">
<section>
    <div class="header-space"></div>
    <!-- <div class="header-space"></div> -->
    <div class="container mt-65 py-5">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2>Dashboard</h2>
            </div>
            <div class="col-lg-3">
                <div class="acc-leftbar">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link {%if this.param.slug == ''%} active {%endif%}" id="nav-acc-tab" data-toggle="tab" href="#nav-acc" role="tab" aria-controls="nav-acc" aria-selected="{%if this.param.slug == ''%}true{%else%}false{%endif%}"><i class="fas fa-user-alt"></i>Profile</a>
                        <a class="nav-item nav-link {%if this.param.slug == 'organizations'%} active {%endif%}" id="nav-status-tab" data-toggle="tab" href="#nav-status" role="tab" aria-controls="nav-status" aria-selected="{%if this.param.slug == 'organizations'%}true {%else%}false{%endif%}"><i class="fas fa-building"></i>Organizations</a>
                        <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false"><i class="fas fa-medal"></i>Personal Certificates</a>
                        <a class="nav-item nav-link" id="nav-notification-tab" data-toggle="tab" href="#nav-notification" role="tab" aria-controls="nav-notification" aria-selected="false"><i class="fas fa-certificate"></i>Personal Pins</a>
                        <a class="nav-item nav-link" id="nav-privcy-tab" data-toggle="tab" href="#privcy" role="tab" aria-controls="privacy" aria-selected="false"><i class="fas fa-key"></i>Change Password</a>
                        <a class="nav-item nav-link" href="#" data-request="onLogout" data-request-data="redirect: '/'"><i class="fas fa-power-off"></i>Logout</a>
                    </div>
                </div>
                <!--acc-leftbar end-->
            </div>
            <div class="col-lg-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade {%if this.param.slug == ''%}show active {%endif%}" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                        <div class="notbar">
                            <h3>Profile Setting</h3>
                        </div>
                        <form data-request="onUpdate" data-request-update="profile/profilesetting: '#updateprofile'">
                            <div id="updateprofile">
                                {% partial 'profile/profilesetting' %}
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade {%if this.param.slug == 'organizations'%} show active {%endif%}" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                        <div class="row">
                      <div class="col-md-3 col-lg-3">
                          <h3>My Organization</h3>
                      </div>
                    {%  if myorganizations|length > 0 %}
                      <div class="col-md-3 col-lg-3 ml-auto my-3">
                          <button type="submit" class="btn btn btn-primary" data-toggle="modal" data-target="#addorganizationmodal"><i class="fas fa-plus text-white"></i> Register</button>
                      </div>
                      {%endif%}
                    </div>
                    <div class="modal fade " id="addorganizationmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog modal-lg"  role="document">
                        <div class="modal-content" id="completeorganization">
                        {% partial 'profile/addorganization' %}
                        </div>
                      </div>
                    </div>
                    {%  if myorganizations|length > 0 %}
                    <div class="row ">
                      {% for organization in myorganizations%}
                  <div class="col-lg-12">
                      <div class="job-listings" >
                          <div class="row">
                              <div class="col-lg-3 col-md-3 col-xs-12">
                                  <div class="job-company-logo">
                                      <img style="width:100%"  src="{{organization.logo}}" alt="">
                                  </div>
                                  <div class="job-details">
                                      <h4>{{organization.org_name}}</h4>

                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-3 col-xs-12 text-center">
                                {%if organization.status == 1%}
                                <span class="btn-open">
                                    Activated
                                </span>
                                {% elseif organization.status == 0 %}
                                  <span class="verification">
                                      Verification Pending
                                  </span>
                                  {% elseif organization.status == 2 %}
                                  <span class="part-time">
                                      Suspended
                                  </span>
                                  {%endif%}
                              </div>
                              <div class="col-lg-3 col-md-3 col-xs-12 text-right">
                                  <div class="location">
                                      <i class="lni-map-marker"></i> {{organization.city}}, {{organization.country}}
                                  </div>
                              </div>
                                {%if organization.status == 1%}
                              <div class="col-lg-3 col-md-2 col-xs-12 text-right">
                                  <a href="#" class="btn-apply ">See Certificates</a>
                              </div>
                              {% elseif organization.status == 0 %}
                              <div class="col-lg-3 col-md-2 col-xs-12 text-right">
                                  <a href="#" class="btn-apply ">Activate Now</a>
                              </div>
{% elseif organization.status == 2 %}
<div class="col-lg-3 col-md-2 col-xs-12 text-right">
    <a class="btn-apply-disable disabled ">See Certificates</a>
</div>
{%endif%}

                          </div>
                      </div>
                  </div>
                  {%endfor%}

              </div>
                    {%else%}
                    <div class="row " style="height: 250px;">
                      <div class="col-lg-4 text-center ml-auto mr-auto my-auto" >
                          <img  src="{{'assets/img/add.svg'|theme}}" />
                            <h4 class="text-primary mt-5">No Organization registered yet!</h2>
                              <button type="submit" class="btn btn btn-primary" data-toggle="modal" data-target="#addorganizationmodal"><i class="fas fa-plus text-white"></i> Register</button>
                        </div>
                        </div>
                    {%endif%}


                    </div>

                    <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                        <div class="acc-setting">
                            <h3>Account Setting</h3>
                            <form>
                                <div class="cp-field">
                                    <h5>Old Password</h5>
                                    <div class="cpp-fiel">
                                        <input type="text" name="old-password" placeholder="Old Password">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                </div>
                                <div class="cp-field">
                                    <h5>New Password</h5>
                                    <div class="cpp-fiel">
                                        <input type="text" name="new-password" placeholder="New Password">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                </div>
                                <div class="cp-field">
                                    <h5>Repeat Password</h5>
                                    <div class="cpp-fiel">
                                        <input type="text" name="repeat-password" placeholder="Repeat Password">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                </div>
                                <div class="cp-field">
                                    <h5><a href="#" title="">Forgot Password?</a></h5>
                                </div>
                                <div class="save-stngs pd2">
                                    <ul>
                                        <li><button type="submit">Save Setting</button></li>
                                        <li><button type="submit">Restore Setting</button></li>
                                    </ul>
                                </div>
                                <!--save-stngs end-->

                            </form>
                        </div>
                        <!--acc-setting end-->
                    </div>
                    <div class="tab-pane fade" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
                        <div class="acc-setting">
                            <h3>Notifications</h3>
                            <div class="notifications-list">
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                    <!--notification-info -->
                                </div>
                                <!--notfication-details end-->
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Poonam Verma</a> Bid on your Latest project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                    <!--notification-info -->
                                </div>
                                <!--notfication-details end-->
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img3.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Tonney Dhman</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                    <!--notification-info -->
                                </div>
                                <!--notfication-details end-->
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                    <!--notification-info -->
                                </div>
                                <!--notfication-details end-->
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                    <!--notification-info -->
                                </div>
                                <!--notfication-details end-->
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Poonam Verma </a> Bid on your Latest project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                    <!--notification-info -->
                                </div>
                                <!--notfication-details end-->
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img3.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Tonney Dhman</a> Comment on your project</h3>
                                        <span>2 min ago</span>
                                    </div>
                                    <!--notification-info -->
                                </div>
                                <!--notfication-details end-->
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                    <!--notification-info -->
                                </div>
                                <!--notfication-details end-->
                            </div>
                            <!--notifications-list end-->
                        </div>
                        <!--acc-setting end-->
                    </div>
                    <div class="tab-pane fade" id="privcy" role="tabpanel" aria-labelledby="nav-privcy-tab">
                        <div class="acc-setting">
                            <h3>Requests</h3>
                            <div class="requests-list">
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img1.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>Jessica William</h3>
                                        <span>Graphic Designer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img2.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>John Doe</h3>
                                        <span>PHP Developer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img3.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>Poonam</h3>
                                        <span>Wordpress Developer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img4.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>Bill Gates</h3>
                                        <span>C & C++ Developer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img5.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>Jessica William</h3>
                                        <span>Graphic Designer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img6.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>John Doe</h3>
                                        <span>PHP Developer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                            </div>
                            <!--requests-list end-->
                        </div>
                        <!--acc-setting end-->
                    </div>
                    <div class="tab-pane fade" id="security-login" role="tabpanel" aria-labelledby="security">
                        <div class="privacy security">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Security and Login</h3>
                                    <hr>
                                    <h3>Two - Step Verification</h3>
                                    <p>Help protect your account by enabling extra layers of security.</p>
                                    <hr>
                                    <h3>Security question</h3><i class="la la-edit"></i>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Conform your identity with a question only you know the answer to</label>
                                    </div>
                                    <hr>
                                    <h3>Security question</h3>
                                    <p>Before can you set a new security question,</p>
                                    <hr>
                                    <h3>Current Question</h3>
                                    <p>Q: Your favorite actor?</p>
                                    <br>
                                    <h3>New Question</h3>
                                    <form>
                                        <div class="form-group">
                                            <select class="form-control" id="exampleFormControlSelect1" style="-webkit-appearance: menulist-button;">
                                                <option>Please Select New Question</option>
                                                <option>Select Second Queston</option>
                                            </select>
                                        </div>
                                    </form>
                                    <h3>Answer</h3>
                                    <form>

                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" Answer here">
                                        </div>
                                    </form>
                                    <div class="checkbox">
                                        <div class="form-check">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio1">I understand my account will be locked if I am unable to answer this question</label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">Remember this device</label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="btns">
                                <a href="#">Save</a>
                                <a href="#">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="blockking" role="tabpanel" aria-labelledby="nav-blockking-tab">
                        <div class="helpforum">
                            <div class="row">
                                <div class="col-12 security">
                                    <h3>Blocking</h3>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Blocking</h4>
                                        <p>See your list,and make changes if you'd like</p>
                                        <div class="bloktext">
                                            <p>You are not bloking anyone</p>
                                            <p>Need to blok or report someone? Go to the profile of the person you want to blok and select "Blok or Report" from the drowp-down menu at the top of the profile summery</p>
                                            <p>Note: After you have blocked the person, Any previous profile views of yours and of the other person will disappear from each of your "Who's viewed your profile" sections. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="privciy" role="tabpanel" aria-labelledby="nav-privcy-tab">
                        <div class="acc-setting">
                            <h3>Requests</h3>
                            <div class="requests-list">
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img1.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>Jessica William</h3>
                                        <span>Graphic Designer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img2.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>John Doe</h3>
                                        <span>PHP Developer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img3.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>Poonam</h3>
                                        <span>Wordpress Developer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img4.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>Bill Gates</h3>
                                        <span>C & C++ Developer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img5.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>Jessica William</h3>
                                        <span>Graphic Designer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                                <div class="request-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/r-img6.png" alt="">
                                    </div>
                                    <div class="request-info">
                                        <h3>John Doe</h3>
                                        <span>PHP Developer</span>
                                    </div>
                                    <div class="accept-feat">
                                        <ul>
                                            <li><button type="submit" class="accept-req">Accept</button></li>
                                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                        </ul>
                                    </div>
                                    <!--accept-feat end-->
                                </div>
                                <!--request-detailse end-->
                            </div>
                            <!--requests-list end-->
                        </div>
                        <!--acc-setting end-->
                    </div>
                    <div class="tab-pane fade" id="privacy" role="tabpanel" aria-labelledby="nav-privacy-tab">
                        <div class="privac">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Privacy</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="dropdown privacydropd">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Who can see your email address</a>
                                        <div class="dropdown-menu">
                                            <p>Choose who can see your email address on your profile</p>
                                            <div class="row">
                                                <div class="col-md-9 col-sm-12">
                                                    <form class="radio-form">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                            <label class="custom-control-label" for="customCheck1">Everyone</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                            <label class="custom-control-label" for="customCheck2">Friends</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                            <label class="custom-control-label" for="customCheck3">Only Me</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <p style="float: right;">Everyone</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="dropdown privacydropd">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Who can see your Friends</a>
                                        <div class="dropdown-menu">
                                            <p>Choose who can see your list of connections</p>
                                            <div class="row">
                                                <div class="col-md-9 col-sm-12">
                                                    <form class="radio-form">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                            <label class="custom-control-label" for="customCheck4">Everyone</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                            <label class="custom-control-label" for="customCheck5">Friends</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                                                            <label class="custom-control-label" for="customCheck6">Only Me</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <p style="float: right;">Everyone</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="dropdown privacydropd">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage who can discover your profile from your email address</a>
                                        <div class="dropdown-menu">
                                            <p>Choose who can discover your profile if they are not connected to you but have your email address</p>
                                            <div class="row">
                                                <div class="col-md-9 col-sm-12">
                                                    <form class="radio-form">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck7">
                                                            <label class="custom-control-label" for="customCheck7">Everyone</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck8">
                                                            <label class="custom-control-label" for="customCheck8">Friends</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck9">
                                                            <label class="custom-control-label" for="customCheck9">Only Me</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <p style="float: right;">Everyone</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="dropdown privacydropd">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search history</a>
                                        <div class="dropdown-menu">
                                            <p>Clear all previous searches performed on LinkedIn</p>
                                            <div class="row">
                                                <div class="col-12">
                                                    <form class="radio-form">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck10">
                                                            <label class="custom-control-label" for="customCheck10">Clear All History</label>
                                                        </div>
                                                    </form>
                                                    <div class="privabtns">
                                                        <a href="#">Clear All History</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="dropdown privacydropd">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sharing your profile when you click apply</a>
                                        <div class="dropdown-menu">
                                            <p>Chose if you want to share your full profile with the job poster when you're taken off linkedin after clicking apply </p>
                                            <div class="row">
                                                <div class="col-md-9 col-sm-12">
                                                    <form class="radio-form">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadio5">Yes</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadio6">Yes</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-3 col-sm-12">
                                                    <p style="float: right;">Yes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="privabtns">
                                        <a href="#">Save</a>
                                        <a href="#">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-deactivate" role="tabpanel" aria-labelledby="nav-deactivate-tab">
                        <div class="acc-setting">
                            <h3>Deactivate Account</h3>
                            <form>
                                <div class="cp-field">
                                    <h5>Email</h5>
                                    <div class="cpp-fiel">
                                        <input type="text" name="email" placeholder="Email">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="cp-field">
                                    <h5>Password</h5>
                                    <div class="cpp-fiel">
                                        <input type="password" name="password" placeholder="Password">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                </div>
                                <div class="cp-field">
                                    <h5>Please Explain Further</h5>
                                    <textarea></textarea>
                                </div>
                                <div class="cp-field">
                                    <div class="fgt-sec">
                                        <input type="checkbox" name="cc" id="c4">
                                        <label for="c4">
                                            <span></span>
                                        </label>
                                        <small>Email option out</small>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex euismod, posuere lectus id,</p>
                                </div>
                                <div class="save-stngs pd3">
                                    <ul>
                                        <li><button type="submit">Save Setting</button></li>
                                        <li><button type="submit">Restore Setting</button></li>
                                    </ul>
                                </div>
                                <!--save-stngs end-->
                            </form>
                        </div>
                        <!--acc-setting end-->
                    </div>


                    <div class="header-space"></div>
                    <!-- <div class="header-space"></div> -->
</section>
