<div class="angle-shape bg-light position-relative"></div>
<!-- White Angle End -->
<!-- Hero Block Start -->
<div class="hero-block bg-light section-pb">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6 mb-sm-30" data-aos="fade-right">
                <div class="hero-text m-minus">
                    <h1 class="mb-25">Why We’re The Best <br class="d-none d-lg-block">Match For Your Business!!</h1>
                    <p class="mb-40">If you are going to use a passage of Lorem Ipsum, you need to be suthere isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                        necessary, making this the first true generator.</p>
                    <a href="about.html" class="btn btn-primary">About Us</a>
                </div>
            </div>
            <div class="col-12 col-md-6" data-aos="fade-left">
                <div class="hero-thumb text-right">
                    <img src="{{'assets/img/1.svg'|theme}}" alt="Hero Thumbnail">
                </div>
            </div>
        </div>
    </div>
</div>
