<div class="promo-area mt-minus position-relative ">
    <div class="container" data-aos="zoom-out" data-aos-delay="500">
        <div class="promo-box bg-primary bg-2 d-flex flex-row align-items-center">
            <div class="mx-auto text-center">
                <h1 class="text-white mb-40">Verify Certification</h1>
                <form class="form-inline" action="#">
                    <input class="form-control" type="text" placeholder="Lisence Number">
                    <input class="form-control" type="text" placeholder="Your Email">
                    <button class="btn btn-dark" type="submit">Check Up!</button>
                </form>
            </div>
        </div>
    </div>
</div>
