<div class="slider-area h-100 h-sm-auto ">
    <div class="container h-100 h-sm-auto d-flex flex-row align-items-center flex-wrap flex-md-nowrap">
        <div class="caption" data-aos="fade-in" data-aos-delay="400">
            <h2 class="text-dark display-3 mb-5">Welcome to</h2>
            <h1 class="text-dark display-1">Honor Pins.</h1>
            <p class="text-dark mb-30">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
            <a href="#" class="btn btn-primary">Discover More</a>
        </div>
        <div class="image-layer ml-md-auto align-self-md-center align-self-start" data-aos="fade-up" data-aos-delay="500">
            <img src="{{'assets/img/2.svg'|theme}}" alt="Layer Image">
        </div>
    </div>
</div>
