<div class="client-logo section-ptb bg-white">
    <div class="container text-center">
        <div class="row text-center">
            <div class="col" data-aos="zoom-in">
                <div class="heading mb-100">
                    <h2>Our <br class="d-none d-lg-block">Partners</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-2">
                <div class="brand-logo">
                    <a href="#"><img src="{{'assets/img/client/logo/1.png'|theme}}" alt="Client Logo"></a>
                </div>
            </div>
            <!-- Single logo -->
            <div class="col-2">
                <div class="brand-logo">
                    <a href="#"><img src="{{'assets/img/client/logo/2.png'|theme}}" alt="Client Logo"></a>
                </div>
            </div>
            <!-- Single logo -->
            <div class="col-2">
                <div class="brand-logo">
                    <a href="#"><img src="{{'assets/img/client/logo/3.png'|theme}}" alt="Client Logo"></a>
                </div>
            </div>
            <!-- Single logo -->
            <div class="col-2">
                <div class="brand-logo">
                    <a href="#"><img src="{{'assets/img/client/logo/4.png'|theme}}" alt="Client Logo"></a>
                </div>
            </div>
            <!-- Single logo -->
            <div class="col-2">
                <div class="brand-logo">
                    <a href="#"><img src="{{'assets/img/client/logo/5.png'|theme}}" alt="Client Logo"></a>
                </div>
            </div>
            <!-- Single logo -->
        </div>
    </div>
</div>
