<div class="pricing-plan style-1 section-ptb bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col" data-aos="zoom-in">
        <div class="heading mb-75">
          <h1>Pricing <span class="text-primary">Plan</span></h1>
          <p>If you are going to use a passage of Lorem Ipsum, you need to be suthere isn't anything <br class="d-none d-lg-block"> embarrassing hidden in the middle of text. All the Lorem Ipsum </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4" data-aos="fade-left" data-aos-delay="500">
        <div class="single-plan mx-auto text-center bg-white pt-40 pb-60">
          <div class="icon mb-15">
            <img alt="Icon" src="{{'assets/img/icons/10.png'|theme}}">
          </div>
          <h2>Personal</h2>
          <div class="price">
            <h1><sup>$</sup>22<sub>/Mo</sub></h1>
          </div>
          <ul class="list-group mb-30 pt-5">
            <li>Five User</li>
            <li>Full Customizable</li>
            <li>Biuld & Publish</li>
            <li>Free Backup</li>
          </ul>
          <button class="btn btn-primary">order now</button>
        </div>
      </div>
      <!-- Single Plan End -->
      <div class="col-12 col-md-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="single-plan popular-plan text-center bg-primary bg-3 pt-70 pb-75">
          <div class="stiker bg-white">
            <h5 class="mb-0">Popular Plan</h5>
          </div>
          <div class="icon mb-15">
            <img alt="Icon" src="{{'assets/img/icons/1.png'|theme}}">
          </div>
          <h2 class="text-white">Webmaster</h2>
          <div class="price">
            <h1 class="text-white"><sup>$</sup>30<sub>/Mo</sub></h1>
          </div>
          <ul class="list-group mb-40 pt-5">
            <li>Five User</li>
            <li>Full Customizable</li>
            <li>Biuld & Publish</li>
            <li>Free Backup</li>
          </ul>
          <button class="btn btn-primary btn-light">order now</button>
        </div>
      </div>
      <!-- Single Plan End -->
      <div class="col-12 col-md-4" data-aos="fade-right" data-aos-delay="500">
        <div class="single-plan mx-auto text-center bg-white pt-40 pb-60">
          <div class="icon mb-15">
            <img alt="Icon" src="{{'assets/img/icons/11.png'|theme}}">
          </div>
          <h2>Professional</h2>
          <div class="price">
            <h1><sup>$</sup>40<sub>/Mo</sub></h1>
          </div>
          <ul class="list-group mb-30 pt-5">
            <li>Five User</li>
            <li>Full Customizable</li>
            <li>Biuld & Publish</li>
            <li>Free Backup</li>
          </ul>
          <button class="btn btn-primary">order now</button>
        </div>
      </div>
      <!-- Single Plan End -->
    </div>
  </div>
</div>
