<div class="row">
  <div class="col-lg-12">
    <table class="rwd-table">
      <tbody>
        <tr>
          <th>Pin</th>
          <th>Holder Name</th>
          <th>Certificate</th>
          <th>Organization</th>
          <th>Status</th>


        </tr>
  {% for holder in holders%}
        <tr>
          <td data-th="Pin Logo">
            <img class="avatar" style="height:40px;object-fit: contain;" src="{{holder.pin.image}}" alt="Bologna">

          </td>

          <td data-th="Action">
          {{holder.full_name}}
          </td>
          <td data-th="Template">
          {{holder.certificate.title}}
          </td>
          <td data-th="Action">
          {{holder.organization.org_name}}
          </td>
          <td data-th="Status">
            {% if date(holder.start_date) < date() and date(holder.end_date) > date() %}
Valid Certification
{%else%}
Expire Certification
{% endif %}

          </td>

        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>

</div>
