

<div class="row">
  <link href="{{ 'assets/css/payment.css'|theme }}" rel="stylesheet">
  <link href="{{'assets/plugins/datatables/dataTables.bootstrap4.min.css'|theme}}" rel="stylesheet" type="text/css" />
  <link href="{{'assets/plugins/datatables/buttons.bootstrap4.min.css'|theme}}" rel="stylesheet" type="text/css" />
    <link href="{{'assets/plugins/datatables/responsive.bootstrap4.min.css'|theme}}" rel="stylesheet" type="text/css" />
  <link href="{{ 'adminassets/libs/select2/select2.css'|theme }}" rel="stylesheet">


  <link href="{{ 'assets/css/datatable.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/dashboard.css'|theme }}" rel="stylesheet">
  <style>
  #example_wrapper {
    padding-left:0px !important;
  }
  .dt-buttons {
    float: right !important;
  }
  div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
  }
      .bootstrap-select .dropdown-menu {
          top: 27px !important;
      }
.paginate_button a {
  padding-left: 15px;
  padding-right: 15px;
}
      .bootstrap-select .dropdown-menu li a {
          padding-top: 12px;
          padding-bottom: 12px;
          font-size: 18px;
      }

  </style>
  <div class="col-md-12 pl-0">
        <table id="example" class="table table-hover responsive nowrap rwd-table-data"  style="width:100%">
          <thead>
            <tr>
              <th>Holder Name</th>
              <th>Certificate</th>
              <th>Email</th>
              <th>Reg No#</th>
              <th>Pin</th>
              <th>Issued Date</th>
              <th>Upload Date</th>
            </tr>
          </thead>
          <tbody>
            {% for order in myorders%}
            <tr>
              <td data-th="Order#">
                  <p class="font-weight-bold mb-0">
                  {{order.full_name}}
                </p>
              </td>
              <td data-th="Certificate">
                  {{order.certificate.title}}
              </td>
              <td data-th="Pins Ordered">
              {{order.email}}
              </td>
              <!-- <td data-th="Detail">
                <a href="#" style="padding: 0 1.2rem; line-height:2.55" data-toggle="modal" data-target="#onviewmyorderdetail{{order.id}}"   class="btn  btn-outline-info myshadow"><i class="fas fa-eye"></i></a>
                <div class="modal fade " id="onviewmyorderdetail{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="border-radius: 11px;" >
                            {% partial 'order/vieworderdetail' details=order.detail %}
                        </div>
                    </div>
                </div>
              </td> -->
              <td data-th="Detail">
              {{order.reg_number}}
              </td>

              <!-- <td data-th="Payment">

                {%if order.pin_status == 0%}
                            <a href="#" style="padding: 0 1.2rem; line-height:2.55" data-toggle="modal" data-target="#orderpayfororder" onclick='orderpayfororder({{order.id}})'   class="btn  btn-outline-info myshadow">Pay Now</a>
                          {%else%}
                              <p class="font-weight-500">Purchased</p>
                              {%endif%}

              </td> -->
              <td data-th="Payment">

                {%if order.pin_status == 0%}
                No
                            {%else%}
                            Yes
                              {%endif%}

              </td>
              <td data-th="Issued Date">
      {{order.start_date| date("j M, Y")}}
              </td>
              <td data-th="Upload Date">
      {{order.created_at | date("j M, Y")}}
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
<!-- <div class="col-lg-12">
  <table class="rwd-table">
    <tbody>
      <tr>
        <th>Holder Name</th>
        <th>Certificate</th>
        <th>Email</th>
        <th>Reg No#</th>
        <th>Pin</th>
        <th>Issued Date</th>


      </tr>
      {% for order in myorders%}
      <tr>
        <td data-th="Order#">
            {{order.full_name}}
        </td>
        <td data-th="Certificate">
            {{order.certificate.title}}
        </td>
        <td data-th="Pins Ordered">
        {{order.email}}
        </td>
        <td data-th="Detail">
          <a href="#" style="padding: 0 1.2rem; line-height:2.55" data-toggle="modal" data-target="#onviewmyorderdetail{{order.id}}"   class="btn  btn-outline-info myshadow"><i class="fas fa-eye"></i></a>
          <div class="modal fade " id="onviewmyorderdetail{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content" style="border-radius: 11px;" >
                      {% partial 'order/vieworderdetail' details=order.detail %}
                  </div>
              </div>
          </div>
        </td> -->
        <!-- <td data-th="Detail">
        {{order.reg_number}}
        </td> -->

        <!-- <td data-th="Payment">

          {%if order.pin_status == 0%}
                      <a href="#" style="padding: 0 1.2rem; line-height:2.55" data-toggle="modal" data-target="#orderpayfororder" onclick='orderpayfororder({{order.id}})'   class="btn  btn-outline-info myshadow">Pay Now</a>
                    {%else%}
                        <p class="font-weight-500">Purchased</p>
                        {%endif%}

        </td> -->
        <!-- <td data-th="Payment">

          {%if order.pin_status == 0%}
          No
                      {%else%}
                      Yes
                        {%endif%}

        </td>
        <td data-th="Issued Date">
{{order.start_date}}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div> -->
</div>
<div class="modal fade " id="orderpayfororder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="border-radius: 11px;" id="orderpayinordermodal">


          <div class="modal-header">
              <h3 id="checkoutmodalTitle" class="ml-5">Make Payment</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="row px-5">
                  <div class="col-md-7 ml-auto mr-auto mt-5">
                      <h5 class="center h5">SELECT PAYMENT METHODS</h5>
                  </div>
                  <div class="col-md-6 ml-auto mr-auto mt-5">

                      <div class="options vcenter">
                          <a href="#" onclick="selectcreditcard()" id="creditcardselect" class="opt ml-2">
                              <div class="icon center">
                                  <i class="fas fa-credit-card creditcardselect"></i>
                              </div>
                              <div class="optname center creditcardselect">Credit/Debit Card</div>
                          </a>

                          <a href="#" onclick="paypalselect()" class="opt ml-5" id="paypalselect">
                              <div class="icon center">
                                  <i class="fab fa-paypal paypalselect"></i>
                              </div>
                              <div class="optname center paypalselect">PayPal</div>
                          </a>
                      </div>
                  </div>
                  <div class="col-md-10 mt-15 row ml-auto mr-auto" style="display:none;" id="creditc">
                      <div class="col-md-9">

                          <div class="form-group">
                              <select name="certificate" id="onchangeselectcard" required class="selectpicker" data-style="btn-default" data-live-search="true">
                                  <option value="0">Select from Your Saved Cards</option>
                                  {%for card in user.cards %}
                                  <option value="{{card.id}}">XXX-XXXX-XXXX-{{card.last_digit}} - {{card.brand}}</option>
                                  {%endfor%}
                              </select>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <a href="#" onclick="addnewcard()" class="btn btn-outline-dark myshadow pull-right ml-5" style="border-radius: 3.25rem;"><i class="fas fa-plus text-dark"></i> New</a>

                      </div>
                  </div>
                  <div class="col-md-10 mt-15 row ml-auto mr-auto" style="display:none;" id="paypal">
                      <p>Paypal Integration is not Completed yet</p>

                  </div>

                  <div class="col-md-12 mt-15 row" style="display:none" id="addnewcard">
                      {%partial 'addcredit/orderaddcard'%}


                  </div>
                  <div class="col-md-12 mt-15 row" style="display:none" id="selectedcardnowed">


                  </div>

              </div>
          </div>


        </div>
    </div>
</div>
<input type="hidden" id="orderpayingid" />
<div id="renderaddcardorder">
{%partial 'order/renderaddcardorder'%}
</div>

<script src="{{'assets/plugins/datatables/jquery.dataTables.min.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/dataTables.bootstrap4.min.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/dataTables.buttons.min.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/buttons.bootstrap4.min.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/jszip.min.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/pdfmake.min.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/vfs_fonts.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/buttons.html5.min.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/buttons.print.min.js'|theme}}"></script>
<!-- Responsive examples -->
<script src="{{'assets/plugins/datatables/dataTables.responsive.min.js'|theme}}"></script>
<script>
$(document).ready(function() {
  var table =$("#example").DataTable({
      dom: 'Bfrtip',
    responsive: true,
    buttons: [
       'excel', 'pdf'
    ],
    columnDefs: [
      {
        responsivePriority: 1,
        targets: 0
      },
      {
        responsivePriority: 2,
        targets: -1
      }
    ]
  });

  $(".dataTables_filter label").append('<a class="btn btn btn-primary ml-3" style="cursor:pointer;height: 48px !important;" id="show-hidden-menu" ><i class="text-white fa fa-filter"></i></a>')
  $(".dataTables_filter input")
    .attr("placeholder", "Search here...")
    .css({
      width: "300px",
      display: "inline-block"
    });
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
  $('#show-hidden-menu').click(function() {
    $('.hidden-menu').slideToggle("slow");
  });
});
$(document).ready(function() {
  $('#orderpayfororder').modal('hide');
});
    function selectcreditcard() {
        document.getElementById('paypal').style.display = 'none'
        document.getElementById('creditc').style.display = 'flex'
        $('#creditcardselect').addClass('bg-primary');
        $('.creditcardselect').addClass('text-white');
        $('#paypalselect').removeClass('bg-primary');
        $('.paypalselect').removeClass('text-white');
    }
    function paypalselect() {
        document.getElementById('paypal').style.display = 'block'
        document.getElementById('creditc').style.display = 'none'
        $('#paypalselect').addClass('bg-primary');
        $('.paypalselect').addClass('text-white');
        $('#creditcardselect').removeClass('bg-primary');
        $('.creditcardselect').removeClass('text-white');
    }
    function addnewcard() {
        document.getElementById('addnewcard').style.display = 'flex'
        document.getElementById('selectedcardnowed').style.display = 'none'
    }

    $('#onchangeselectcard').change(function() {
        var selectedItem = $('.selectpicker').val();
        document.getElementById('addnewcard').style.display = 'none'
        document.getElementById('selectedcardnowed').style.display = 'flex'
        document.getElementById('selectedcardnowed').innerHTML = '  <div class="col-md-3 ml-auto mr-auto"><i class="fa-spin fa fa-spinner font-34 text-primary"></i></div>'
var order_id = document.getElementById('orderpayingid').value
        var AddTrainer = $.request('onSelectmySavedCard', {
            flash: 1,
            data: {
              order_id:order_id,
                id: selectedItem
            }
        }).done(function(data) {

            return data;
        });
    });
function orderpayfororder(id){

document.getElementById('orderpayingid').value = id;

      $.request('onRenderPayment', {
          data: {
              id: id
          }
      }).done(function(data) {
        document.getElementById('orderaddbuttonaddcard').innerHTML = '$'+((data[0].length*5)+2)+' Pay'
        console.log(data)
          return data;
      });


}

</script>
