
    .mainContainer {

        margin: 0 auto;
        box-shadow: 0 0 10px #2323;
        margin-top: 50px;
        background: white;
    }

    .cardHolder {
        height: 300px;
        background: linear-gradient(to right,
                #6480ef,
                #7775e8,
                #806ce8);
        /*   border-bottom-left-radius:50%;
border-bottom-right-radius:50%; */
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vcenter {
        display: flex;
        align-items: center;
    }

    .checkoutheading {
        height: 40px;
        font-size: 14px;
        letter-spacing: 2px;
        color: white;
    }

    .stepHeading {
        height: 20px;
        font-size: 16px;
        font-weight: bolder;
        letter-spacing: 2px;
        color: white;
    }

    .checkoutcard {
        height: 180px;
        width: 280px;
        background: white;
        margin: 0 auto;
        border-radius: 1.2em;
        margin-top: 25px;
        padding: 12px 20px;
    }

    .checkoutcard>.part {
        height: 50px;
        margin-bottom: 4px;
    }

    .checkoutcard>.top {
        display: flex;
        justify-content: flex-end;
    }

    .checkoutcard>.top>img {
        height: 48px;
    }

    .infoheader {
        height: 20px;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #95a5a6
    }

    .checkoutcard>.middle>.infocontent {
        justify-content: space-between;
        height: 30px;
    }

    .number {
        width: 150px;
    }

    .checkoutcard>.middle>.infocontent>.num {
        height: 25px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: bolder;
    }

    .card>.bottom {
        display: flex;
        justify-content: space-between
    }

    .holderInfo {
        width: 150px;
    }

    .holderInfo>.name,
    .expDate>.date {
        font-size: 12px;
        font-weight: bolder;
        letter-spacing: 2px;
    }

    .status {
        height: 35px;
        width: 300px;
        margin: 0 auto;
        box-shadow: 0 0 10px #2323;
        margin-top: 16px;
        padding: 0 16px;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: bolder;
    }

    .status>i {
        color: #16a085;
        margin-right: 20px;
        font-size: 16px;
    }

    .h5 {

        margin: 0 auto;
        padding: 8px;
        margin-top: 14px;
        border-bottom: 2px solid #bdc3c7;
        letter-spacing: 2px;
        font-size: 12px;
        margin-bottom: 12px;
    }

    .options {
        /*
height:75px;
margin:0 auto; */
    }

    .options>.opt {
        height: 100px;
        width: 150px;
        box-shadow: 0 0 10px #2323;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .options>.opt>.icon {
        height: 30px;
        color: #95a5a6;
        font-size: 20px;
    }

    .optname {
        height: 30px;
        font-size: 10px;
        color: #232323;
        letter-spacing: 2px;
        font-weight: bolder
    }

    .payment {
        height: 80px;
        position: relative;
        top: 24px;
        box-shadow: 0 -5px 5px -5px #2323;
        justify-content: space-around;
    }

    .val {
        height: 40px;
        font-size: 24px;
        font-weight: bolder;
        letter-spacing: 2px;
        color: #6480ef;
    }

    .button {
        width: 120px;
        height: 35px;
        border-radius: 1.2em;
        background: linear-gradient(to right,
                #6480ef,
                #7775e8,
                #806ce8);
        color: white;
        font-weight: bolder;
        letter-spacing: 2px;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btn-file {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        cursor: pointer;
        top: 0;
        opacity: 0;
        line-height: 1;
    }

    .dropdown-header>.text {
        font-size: 20px !important;
        font-weight: bold !important;
        color: #000 !important;
    }
    .account-card-master {
        background: -webkit-linear-gradient(135deg, #f79e1b, #f79e1b);
        background: -moz-linear-gradient(135deg, #f79e1b, #f79e1b);
        background: -o-linear-gradient(135deg, #f79e1b, #f79e1b);
        background: -ms-linear-gradient(135deg, #f79e1b, #f79e1b);
        background: linear-gradient(-45deg, #f79e1b, #f79e1b);

    }

    .account-card-dinner {
        background: -webkit-linear-gradient(135deg, #ef6c00, #ef6c00);
        background: -moz-linear-gradient(135deg, #ef6c00, #ef6c00);
        background: -o-linear-gradient(135deg, #ef6c00, #ef6c00);
        background: -ms-linear-gradient(135deg, #ef6c00, #ef6c00);
        background: linear-gradient(-45deg, #ef6c00, #ef6c00);

    }

    .account-card-jcb {
        background: -webkit-linear-gradient(135deg, #d32f2f, #d32f2f);
        background: -moz-linear-gradient(135deg, #d32f2f, #d32f2f);
        background: -o-linear-gradient(135deg, #d32f2f, #d32f2f);
        background: -ms-linear-gradient(135deg, #d32f2f, #d32f2f);
        background: linear-gradient(-45deg, #d32f2f, #d32f2f);

    }

    .account-card-union {
        background: -webkit-linear-gradient(135deg, #0097a7, #0097a7);
        background: -moz-linear-gradient(135deg, #0097a7, #0097a7);
        background: -o-linear-gradient(135deg, #0097a7, #0097a7);
        background: -ms-linear-gradient(135deg, #0097a7, #0097a7);
        background: linear-gradient(-45deg, #0097a7, #0097a7);

    }

    .account-card-american {
        background: -webkit-linear-gradient(135deg, #388e3c, #388e3c);
        background: -moz-linear-gradient(135deg, #388e3c, #388e3c);
        background: -o-linear-gradient(135deg, #388e3c, #388e3c);
        background: -ms-linear-gradient(135deg, #388e3c, #388e3c);
        background: linear-gradient(-45deg, #388e3c, #388e3c);

    }

    .account-card-discover {
        background: -webkit-linear-gradient(135deg, #7b1fa2, #7b1fa2);
        background: -moz-linear-gradient(135deg, #7b1fa2, #7b1fa2);
        background: -o-linear-gradient(135deg, #7b1fa2, #7b1fa2);
        background: -ms-linear-gradient(135deg, #7b1fa2, #7b1fa2);
        background: linear-gradient(-45deg, #7b1fa2, #7b1fa2);

    }
