<footer>
    <div class="footer-widget-area bg-dark ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mb-sm-40">
                    <div class="footer-widget">
                        <h3 class="widget-title text-white mb-25">About Optimi</h3>
                        <div class="widget-content">
                            <p class="text-white">Phen an unknown printer took alley type and scrambled it tmake a type pecimen book. new aijek restorent. to match sure than.</p>
                            <div class="social-icon text-white mt-20">
                                <ul class="list-group flex-row">
                                    <li><a href="http://www.facebook.com/"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="http://www.twitter.com/"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="http://www.linkedin.com/"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="http://www.pinterest.com/"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Widget End -->
                <div class="col-12 col-md-4 mb-sm-40">
                    <div class="footer-widget">
                        <h3 class="widget-title text-white mb-25">Useful Links</h3>
                        <div class="widget-content">
                            <ul class="float-left">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Term & Policy</a></li>
                                <li><a href="#">FAQ’s</a></li>
                                <li><a href="#">Our Story</a></li>
                            </ul>
                            <ul class="float-left">
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Case</a></li>
                                <li><a href="#">Our Project</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Widget End -->
                <div class="col-12 col-md-4">
                    <div class="footer-widget">
                        <h3 class="widget-title text-white mb-25">Contact Us</h3>
                        <div class="widget-content">
                            <div class="media mb-20">
                                <img class="align-self-center" src="{{'assets/img/icons/phone.png'|theme}}" alt="Icon Image">
                                <div class="media-body pl-25">
                                    <span>Mon-Fri 9am-6pm</span>
                                    <p><a href="tel:99-540-154-254">99 540 154 254</a></p>
                                </div>
                            </div>
                            <div class="media">
                                <img class="align-self-center" src="{{'assets/img/icons/rocket.png'|theme}}" alt="Icon Image">
                                <div class="media-body pl-25">
                                    <span>online support</span>
                                    <p><a href="mailto:info@Optimi.com">info@honorpin.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Widget End -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container d-flex">
            <p class="mb-0">Copyrights © 2020 All Rights Reserved by <span class="text-primary">HonorPin</span></p>
            <p class="mb-0 ml-auto">Design by <span class="text-primary">Coders Ocean</span></p>
        </div>
    </div>
</footer>
