<header class="position-absolute bg-white w-100">
  <div class="topbar bb-0">
    <div class="container">
      <div class="row text-center text-sm-left">
        <div class="col-12 col-sm-6">
            <p>Welcome to Optimi Template</p>
        </div>
        <div class="col-12 col-sm-6">
          <div class="social-icon ml-4 float-sm-right">
              <ul class="list-group flex-row justify-content-center">
                <li><a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="http://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
              </ul>
          </div>
          <div class="phone-call float-sm-right">
            <p>Phone: <a href="tel:+698-695-806">+698 695 806</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav id="active-sticky" class="navbar navbar-dark navbar-expand-lg">
    <div class="container bg-dark">
      <a class="navbar-brand" href="index.html"><img src="{{'assets/img/white-logo.png'|theme}}" alt="Optimi"></a>
      <button class="navbar-toggler navber-toggler-right" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown">Home</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="index.html">Home One</a></li>
                <li><a class="dropdown-item" href="index-2.html">Home Two</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link">About</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Case Study</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="case-study.html">Case Study</a></li>
              <li><a class="dropdown-item" href="case-study-details.html">Case Study Details</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" >Pages</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="services.html">Services</a></li>
              <li><a class="dropdown-item" href="service-details.html">Service Details</a></li>
              <li><a class="dropdown-item" href="pricing.html">Pricing Plan</a></li>
              <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
              <li><a class="dropdown-item" href="error-404.html">404 Error</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" >Blog</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="blog-one.html">Blog One</a></li>
              <li><a class="dropdown-item" href="blog-two.html">Blog Two</a></li>
              <li><a class="dropdown-item" href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="contact.html" class="nav-link">Contact Us</a>
          </li>
        </ul>
        <div class="search-icon">
          <i data-target="#searchBox" data-toggle="collapse" class="fa fa-search d-none d-lg-block"></i>
          <div class="collapse" id="searchBox">
            <form class="input-group" action="http://regaltheme.com/tf/multi/optimi/search">
              <input class="form-control" type="text" placeholder="Search..">
              <div class="input-group-append">
                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
