==
<?php
function onLogoutUser(){
  Auth::logout();
  return Redirect::to('/');
}
function onStart(){
  $this['user'] = Auth::getuser();
}


?>
==
<style>


</style>
<header class="position-absolute bg-white w-100">
    <div class="topbar bb-0">
        <div class="container">
            <div class="row text-sm-left">
                <div class="col-12 row col-sm-6 mobile-hide">
                    <div class="col-4">
                        <p style="font-size: 1.3rem;"><i class="fa fa-map-marker"></i> Glandale, CA 91302</p>
                    </div>
                    <div class="col-4">
                        <p style="font-size: 1.3rem;"><i class="fa fa-envelope"></i> <a href="mail:+698-695-806">info@honorpins.com</a></p>
                    </div>
                    <div class="col-4">
                        <p style="font-size: 1.3rem;"><i class="fa fa-phone"></i> <a href="tel:+698-695-806">+698 695 806</a></p>
                    </div>
                </div>
                {%if user %}
                <div class="col-12 col-sm-3 ml-auto ">
                    <nav class="mobile-hide navbar navbar-dark  navbar-expand-sm float-right">
                        <a class="navbar-brand" href="/dashboard">

                            <p class="text-primary ">{{user.name}} {{user.surname}}</p>
                        </a>

                        <div class="collapse navbar-collapse" id="navbar-list-4">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="{%if user.avatar != null%}{{user.avatar.path}}{%else%}{{'assets/img/user.png'|theme}}{%endif%}" style="object-fit:contain" width="40" height="40" class="rounded-circle border">
                                    </a>
                                    <div class="dropdown-menu py-0" style="margin-left: -108px;margin-top: -3px;" aria-labelledby="navbarDropdownMenuLink">

    <a class="border-bottom border-dark border-top dropdown-item pl-3 font-weight-bold" href="#">My Profile</a>
                                          <a class="dropdown-item font-weight-500" href="/dashboard">Profile Setting</a>
                                          <a class="dropdown-item font-weight-500" href="/dashboard/change-password">Change Password</a>

                                      <a class="border-bottom border-dark border-top dropdown-item pl-3 font-weight-bold" href="#">Account</a>
                                      <div>
                                          <a class="dropdown-item font-weight-500" href="/dashboard/paymentmethods">Credit Cards</a>
                                          <a class="dropdown-item font-weight-500" href="/dashboard/connected-emails">Connected emails</a>

                                      </div>


                                        <a class="border-dark border-top dropdown-item pl-3 font-weight-bold" href="#" data-request="onLogout" data-request-data="redirect: '/'">Log Out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                {%else%}
                <div class="col-12 col-sm-6 mobile-hide ">
                    <div class=" ml-4 float-sm-right">
                        <p style="font-size: 1.1rem;"><a href="/login">Login</a></p>
                    </div>
                    <div class="phone-call float-sm-right">
                        <p style="font-size: 1.1rem;"><a href="/register">Register</a></p>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
    <nav id="active-sticky" class="navbar navbar-dark navbar-expand-lg">
        <div class="container bg-dark">
            {%if user %}
            <ul class="navbar-nav content-mobile">
                <li class="nav-item dropdown " style="position:absolute;top:0;margin-top:25px">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{%if user.avatar != null%}{{user.avatar.path}}{%else%}{{'assets/img/user.png'|theme}}{%endif%}" width="40" height="40" class="rounded-circle border">
                    </a>

                    <div class="dropdown-menu py-0" style="position:absolute" aria-labelledby="navbarDropdownMenuLink">


                          <a class="dropdown-item font-weight-500" href="/dashboard">Profile Setting</a>
                          <a class="dropdown-item font-weight-500" href="/dashboard/change-password">Change Password</a>

                      <a class="border-bottom border-dark border-top dropdown-item pl-3 font-weight-bold" href="#">Account</a>
                      <div>
                          <a class="dropdown-item font-weight-500" href="/dashboard/paymentmethods">Credit Cards</a>
                          <a class="dropdown-item font-weight-500" href="/dashboard/connected-emails">Connected emails</a>

                      </div>


                        <a class="border-dark border-top dropdown-item pl-3 font-weight-bold" href="#" data-request="onLogout" data-request-data="redirect: '/'">Log Out</a>
                    </div>
                </li>
            </ul>
            {%else%}
            <ul class="navbar-nav content-mobile">
                <li class="nav-item dropdown " style="position:absolute;top:0;margin-top:25px">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{%if user.avatar != null%}{{user.avatar.path}}{%else%}{{'assets/img/user.png'|theme}}{%endif%}" width="40" height="40" class="rounded-circle border">
                    </a>

                    <div class="dropdown-menu py-0" style="position:absolute" aria-labelledby="navbarDropdownMenuLink">



                        <a class="border-dark dropdown-item " href="/login" >Login</a>
                        <a class="border-dark dropdown-item" href="/login" >Register</a>
                    </div>
                </li>
            </ul>
            {%endif%}
            <a class="navbar-brand content-desktop" href="/">
                <h1 class="text-white">HonorPins</h1>
            </a>
            <a class="navbar-brand content-mobile  ml-5" href="/">
                <h1 class="text-white">HonorPins</h1>
            </a>



            <button class="navbar-toggler navber-toggler-right" data-toggle="collapse" data-target="#navbarToggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about-us" class="nav-link">About</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="/pricing" class="nav-link">Pricing</a>
                    </li> -->
                    {%if user%}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" style="line-height:2rem !important;" data-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/dashboard/organizations">My Organization</a></li>
                            <li><a class="dropdown-item" href="/dashboard/manage-certificates">Manage Certificates</a></li>
                            {% if user.groups[0].code == 'admin'%}
                            <li>  <a class="dropdown-item" href="/adminpanel">Admin Panel</a></li>
                              {%endif%}

                        </ul>
                    </li>
                    {%endif%}
                    <li class="nav-item">
                        <a href="/contact-us" class="nav-link">Contact Us</a>
                    </li>
                    <a href="#" data-toggle="modal" data-target="#quote" class="btn-primary font-weight-bold px-4 py-3 rounded">Get a Quote</a>
                </ul>
                <div class="modal fade " id="quote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" >
                          <div class="modal-header">
                              <h3 id="exampleModalLongTitle">Get a Quote</h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                              <div class="modal-body">
                                  <div class="row px-5">
                                      <div class="col-md-12">
                                          <div class="form-group">
                                              <label>Name</label>
                                              <input type="text" required id="name" name="name" class="form-control">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label>Email</label>
                                              <input type="email" required id="email" name="email" class="form-control">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label>Phone</label>
                                              <input type="text" required id="phone" name="phone" class="form-control">
                                          </div>
                                      </div>

                                      <div class="col-lg-12">
                                          <div class="form-group">
                                              <label>Messege</label>
                                              <textarea class="form-control" id="messege" name="messege" aria-label="With textarea"></textarea>
                                          </div>
                                      </div>



                                  </div>

                                <p style="font-size:13px;display:none" class="text-success text-center" id="messegea">Your quote request is successfully submited. You will be contacted soon!</p>
                              </div>
                              <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary" style="display:none" id="spinnerquote"><i class="fa-spin fa fa-spinner text-white"></i></button>
                                  <button type="submit" class="btn btn-primary" onclick="sendquote()" id="sendbutton">Get a Quote</button>
                              </div>

                        </div>
                    </div>
                </div>
            </div>
            <script>
            function sendquote() {

                document.getElementById('spinnerquote').style.display = 'block'
                document.getElementById('sendbutton').style.display = 'none'
                var email = document.getElementById('email').value
                var phone =document.getElementById('phone').value
                var name = document.getElementById('name').value
                var messege = document.getElementById('messege').value

                $.request('onSendQuoate', {
                    data: {
                        email: email,
                        phone: phone,
                        name: name,
                        messege: messege,
                    }
                }).done(function(data) {
                  console.log('asdasd')
                    document.getElementById('spinnerquote').style.display = 'none'
                    document.getElementById('sendbutton').style.display = 'block'
                    document.getElementById('messegea').style.display = 'block'
                    $('#quote').modal('hide');

                    return data;
                });

            }
            </script>
        </div>
    </nav>
</header>
