<div class="promo-area promo-2 solid-gredient-2">
    <div class="container" data-aos="zoom-out">
        <div class="promo-box bg-primary bg-5 d-flex flex-row align-items-center">
            <div class="mx-auto text-left">
                <h1 class="text-white mb-35">Email Newsletters!</h1>
                <form class="form-inline" id="mc-form">
                    <input class="form-control" type="email" id="mc-email" placeholder="Your Email">
                    <button class="btn btn-dark" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
