    <link href="{{'assets/css/dropify.min.css'|theme}}" rel="stylesheet" type="text/css" />
{% if addorganization == 1%}
{% if verifiedorganization == 1%}
<div class="modal-header">
    <h3>Activation Completed</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row px-5">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="row">
                <div class="col-md-6 text-center ml-auto mr-auto my-4">
                    <i class="fas fa-check-circle text-success" style="font-size:150px;"></i>
                </div>
                <div class="col-md-12">
                    <h2 class="text-primary text-center">Your Organization is Successfully Activated!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="/dashboard/organizations" class="btn btn-primary"> Close</a>
</div>
{%else%}
<div class="modal-header">
    <h3>Registration Completed</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row px-5">
        <div class="col-md-7 ml-auto mr-auto">
            <div class="col-md-12">
                <h2 class="text-primary text-center">6 Digits Verification code has been sent to your official email!</h2>
            </div>
            <form data-request="onVerifyOrganization">
                <div class="col-md-12 my-4">
                    <div class="form-group">
                        <label>Enter Code</label>
                        <input type="number" required name="code" class="form-control">
                        <input type="hidden" name="id" value="{{org.id}}" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <p class="my-3" id="verifycheck"></p>
                    <button type="submit" class="btn btn-primary">Activate Now</button>
                    <span class="text-dark" style="font-size:12px;display:block;margin-top:10px">or, Didnt receive an email?</span>
                    <a href="#" class="text-primary" onclick="sendemailadd({{org.id}})">Resend</a>

                    <span id="spinneradd" class="" style="display:none"><i class="fa-spin fa fa-spinner text-primary"></i></span>
                    <span id="successfullysentadd" style="font-size:12px;display:none" class="text-success"> Email successfully sent!</span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="/dashboard/organizations" class="btn btn-primary"> Close</a>
</div>
{%endif%}
{%else%}
<div class="modal-header">
    <h3 id="exampleModalLongTitle">Register an Organization</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
  <form>
    <div class="modal-body px-5">

          <div class="row" >
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Organization Name</label>
                    <input type="text" required name="organization_name" id="organization_name" class="form-control">
                </div>
                <div class="form-group">
                    <label>Organization Website <span class="example-span">eg. https://www.org-name.com</span></label>
                    <input type="text" required name="website" id="orgwebsite" class="form-control">
                </div>
                <div class="form-group">
                    <label>Official Email <span class="wrapper"><i class="fas fa-exclamation-circle text-primary"></i><span class="tooltip bg-primary">This email needs to be verified to activate this organization!</span></span> <span
                          class="example-span">eg. yourname@org-name.com</span></label>
                    <input type="email" required name="officialemail" id="orgofficialemail" class="form-control">
                    <span id="emailerror"></span>
                </div>
            </div>

            <div class="col-lg-6">

                  <input type="file" id="orglogo" name="logo" class="dropify" data-max-file-size="3M" data-height="200"  />
                </div>
                </div>
<div class="row" >
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Phone No.</label>
                        <input type="tel" id="orgphone" required name="phone" class="form-control">

                    </div>
                </div>

            <div class="col-lg-8">
                <div class="form-group">
                    <label>Street Address</label>
                    <input type="text" required name="street_address" id="orgstreet_address" class="form-control">
                </div>
            </div>
            </div>
            <div class="row" id="partialCountryState">
                {% partial 'country-state-org' countryId=user.country_id stateId=user.state_id %}


            </div>
            <div class="row" >
            <div class="col-lg-6">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" required name="city" id="orgcity" class="form-control">
                </div>

            </div>
            <div class="col-lg-6">
              <div class="form-group">
                  <label>Zip Code</label>
                  <input type="text" id="orgzip" required name="zip"  class="form-control">
              </div>

            </div>
            </div>

    </div>
    <input type="hidden" id="orgbase64" />
    <div class="modal-footer">
        <button type="button" onclick="addorganization()" class="btn btn-primary"><i class="fas fa-plus"></i> Register</button>
    </div>
</form>
{%endif%}
<script src="{{'assets/js/dropify.min.js'|theme}}"></script>

  <script type="text/javascript">
  function orgreadURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#blah').attr('src', e.target.result);
                document.getElementById('orgbase64').value=e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
  $("#orglogo").change(function(){
        orgreadURL(this);
    });
  function addorganization(){
    var image =   document.getElementById('orgbase64').value;
    console.log(image)
    var organization_name =   document.getElementById('organization_name').value;
    console.log(organization_name)
    var orgwebsite =   document.getElementById('orgwebsite').value;

    var orgofficialemail =   document.getElementById('orgofficialemail').value;
    var accountCountry =   document.getElementById('orgaccountCountry').value;
    var accountState =   document.getElementById('orgaccountState').value;

    var orgtel =   document.getElementById('orgphone').value;
    var orgstreet_address =   document.getElementById('orgstreet_address').value;
    var orgcity =   document.getElementById('orgcity').value;
    var orgzip =   document.getElementById('orgzip').value;
    var AddTrainer = $.request('onAddOrganization',{flash: 1,data:{organization_name:organization_name,country_id:accountCountry,state_id:accountState,website:orgwebsite,officialemail:orgofficialemail,logo:image,phone:orgtel,street_address:orgstreet_address,city:orgcity,zip:orgzip}}).done(function(data) {
        console.log('data')

   });
  }
      $('.dropify').dropify({
          messages: {
              'default': 'Drag and drop a Organization Logo',
              'replace': 'Drag and drop or click to replace',
              'remove': 'Remove',
              'error': 'Ooops, something wrong appended.'
          },
          error: {
              'fileSize': 'The file size is too big (1M max).'
          }
      });
        // $('.dropify').dropify({
        //     messages: {
        //         'default': 'Drag and drop a photo',
        //         'replace': 'Drag and drop or click to replace',
        //         'remove': 'Remove',
        //         'error': 'Ooops, something wrong appended.'
        //     },
        //     error: {
        //         'fileSize': 'The file size is too big (1M max).'
        //     }
        // });
        $(document).ready(function() {
            $('#orgzip').mask('99999');
        })
        $("#orgphone").on("change paste keyup", function() {
            // alert($(this).val());

            // const align = div1.getAttribute('placeholder');
            // console.log($(this).context.placeholder)
            var placeholder = $(this).context.placeholder;
            var i;
            var string = '';
            for (i = 0; i < placeholder.length; i++) {
                if (placeholder[i] === ')') {
                    string = string + ')'
                } else if (placeholder[i] === '(') {
                    string = string + '('
                } else if (placeholder[i] === '-') {
                    string = string + '-'
                } else if (placeholder[i] === ' ') {
                    string = string + ' '
                } else {
                    string = string + '9'
                }

            }
            console.log(string)
            $('#orgphone').mask(string);


            // $(this).attr("data-inputmask","'mask': "+placeholder+"");
        });
        $("#orgphone").intlTelInput({
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js"
        });
    </script>
