    <link href="{{'assets/css/dropify.min.css'|theme}}" rel="stylesheet" type="text/css" />
{% if addpin == 1%}
<div class="modal-header">
    <h3>Pin Created</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row px-5">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="row">
                <div class="col-md-6 text-center ml-auto mr-auto my-4">
                    <i class="fas fa-check-circle text-primary" style="font-size:150px;"></i>
                </div>
                <div class="col-md-12">
                    <h2 class="text-primary text-center">Your Pin is Successfully Created!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="/dashboard/organization-pins/{{organization.id}}" class="btn btn-primary "> Close</a>
</div>
{%else%}
<div class="modal-header">
    <h3 id="exampleModalLongTitle">Add New Pin</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
  <form>
    <div class="modal-body px-5">
          <div class="row" >
            <div class="col-lg-8 ">
                <div class="form-group">
                    <h4 class="header-title">Organization</h4>
                    <input type="text" disabled  name="" id="" value="{{organization.org_name}}" class="form-control">

                </div>
                <div class="form-group">
                    <h4 class="header-title">Title</h4>
                    <input type="text" required name="title" id="title" class="form-control">
                      <span style="color:red;display:none; font-size:12px;" id="titleerror">This field is required!</span>
                </div>


            </div>

            <div class="col-lg-4">

                  <input type="file" id="orglogo" name="logo" class="dropify" data-max-file-size="3M" data-height="200"  />
                    <span style="color:red;display:none; font-size:12px;" id="orglogoerror">This field is required!</span>
                </div>
            <div class="col-md-12 mt-3">

              <div class="card">
                  <div class="card-body">
                      <h4 class="header-title">Pin Template</h4>
                        <span style="color:red;display:none; font-size:12px;" id="temperror">Template is required!</span>
                      <div id="snow-editor" style="height: 300px;">


                      </div> <!-- end Snow-editor-->
                  </div> <!-- end card-body-->
              </div>
                </div>
                </div>
    </div>
    <input type="hidden" id="orgbase64" />
    <div class="modal-footer">
        <button type="button" id="addorgspin" style="width:21%;display:none" class="btn btn-primary"><i class="fa-spin fa fa-spinner text-white"></i></button>
        <button type="button" id="addorg"  onclick="addorganization()" class="btn btn-primary"><i class="fas fa-plus"></i> Create</button>
    </div>
</form>
{%endif%}
<script src="{{'assets/js/dropify.min.js'|theme}}"></script>
<script src="{{'assets/dashboard/katex.min.js'|theme}}"></script>
   <script src="{{'assets/dashboard/quill.min.js'|theme}}"></script>
  <script type="text/javascript">
  var quill=new Quill("#snow-editor",{theme:"snow",modules:{toolbar:[[{font:[]},{size:[]}],["bold","italic","underline","strike"],[{color:[]},{background:[]}],[{script:"super"},{script:"sub"}],[{header:[!1,1,2,3,4,5,6]},"blockquote","code-block"],[{list:"ordered"},{list:"bullet"},{indent:"-1"},{indent:"+1"}],["direction",{align:[]}],["link","image","video","formula"],["clean"]]}});


  function orgreadURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#blah').attr('src', e.target.result);
                document.getElementById('orgbase64').value=e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
  $("#orglogo").change(function(){
        orgreadURL(this);
    });
  function addorganization(){

       console.log(quill.container.firstChild.innerHTML)
    document.getElementById('titleerror').style.display = 'none';

document.getElementById('orglogoerror').style.display = 'none';
document.getElementById('temperror').style.display = 'none';

    var button =   document.getElementById('addorgspin').style.display = 'block';
    var button =   document.getElementById('addorg').style.display = 'none';
    // var button =   document.getElementById('addorgspin).value;
    var image =   document.getElementById('orgbase64').value;
    if(image === ''){
      document.getElementById('orglogoerror').style.display = 'block';
      var button =   document.getElementById('addorgspin').style.display = 'none';
      var button =   document.getElementById('addorg').style.display = 'block';
      return 'error'
    }

    var title =   document.getElementById('title').value;
    if(title === ''){
      document.getElementById('titleerror').style.display = 'block';
      var button =   document.getElementById('addorgspin').style.display = 'none';
      var button =   document.getElementById('addorg').style.display = 'block';
      return 'error'
    }
    var template = quill.container.firstChild.innerHTML;

    if(template === ''){
      document.getElementById('temperror').style.display = 'block';
      var button =   document.getElementById('addorgspin').style.display = 'none';
      var button =   document.getElementById('addorg').style.display = 'block';
      return 'error'
    }

    var AddTrainer = $.request('onAddPin',{flash: 1,data:{title:title,template:template,logo:image}}).done(function(data) {
        console.log('data')
        var button =   document.getElementById('addorgspin').style.display = 'none';
        var button =   document.getElementById('addorg').style.display = 'block';

   }).fail(function()  {
     var button =   document.getElementById('addorgspin').style.display = 'none';
     var button =   document.getElementById('addorg').style.display = 'block';
   });
  }
      $('.dropify').dropify({
          messages: {
              'default': 'Drag and drop a Pin Logo',
              'replace': 'Drag and drop or click to replace',
              'remove': 'Remove',
              'error': 'Ooops, something wrong appended.'
          },
          error: {
              'fileSize': 'The file size is too big (1M max).'
          }
      });
        // $('.dropify').dropify({
        //     messages: {
        //         'default': 'Drag and drop a photo',
        //         'replace': 'Drag and drop or click to replace',
        //         'remove': 'Remove',
        //         'error': 'Ooops, something wrong appended.'
        //     },
        //     error: {
        //         'fileSize': 'The file size is too big (1M max).'
        //     }
        // });
        $(document).ready(function() {
            $('#orgzip').mask('99999');
        })
        $("#orgphone").on("change paste keyup", function() {
            // alert($(this).val());

            // const align = div1.getAttribute('placeholder');
            // console.log($(this).context.placeholder)
            var placeholder = $(this).context.placeholder;
            var i;
            var string = '';
            for (i = 0; i < placeholder.length; i++) {
                if (placeholder[i] === ')') {
                    string = string + ')'
                } else if (placeholder[i] === '(') {
                    string = string + '('
                } else if (placeholder[i] === '-') {
                    string = string + '-'
                } else if (placeholder[i] === ' ') {
                    string = string + ' '
                } else {
                    string = string + '9'
                }

            }
            console.log(string)
            $('#orgphone').mask(string);


            // $(this).attr("data-inputmask","'mask': "+placeholder+"");
        });
        $("#orgphone").intlTelInput({
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js"
        });
    </script>
