<div class="col-lg-12">
    <div class="job-listings" style="margin-bottom:0px,padding-top:0px;padding-bottom:0px">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-12 text-center">
              <p class="font-weight-500">Pin Logo</p>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 text-center">
            <p class="font-weight-500">Pin Title</p>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12 text-center">
            <p class="font-weight-500">Template</p>
          </div>



            <div class="col-lg-2 col-md-2 col-xs-12 float-right ">
                <p class="font-weight-500">Action</p>
            </div>

            <!-- <div class="col-lg-3 col-md-3 col-xs-12 text-center">
                <a class="btn-apply-disable disabled ">See Certificates</a>
            </div> -->

        </div>
    </div>
</div>
{% for pin in allpins%}
<div class="col-lg-12">
    <div class="job-listings" style="padding-top:5px;padding-bottom:5px">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-12 text-center align-self-center">
              <img class="avatar rounded-circle" style="width:80px;height:80px;object-fit: contain;background-color: rgba(0,0,0,0.1);" src="{{pin.image}}" alt="Bologna">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 text-center">
              <div class="location">
              <p class="font-weight-bold">{{pin.title}}</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12 text-center align-self-center">
              <a href="#" style="padding: 0 1.2rem; line-height:2.55"   class="btn  btn-outline-info myshadow"><i class="fas fa-eye"></i></a>
          </div>


            <div class="col-lg-2 col-md-2 col-xs-12 float-right align-self-center ">
                <a href="#" style="padding: 0 1.2rem; line-height:2.55" onclick="onedit({{certificate.id}})"  class="btn  btn-outline-info myshadow"><i class="fas fa-edit"></i></a>
                <a href="#" style="padding: 0 1.2rem; line-height:2.55" onclick="ondelete({{certificate.id}})" class="btn  btn-outline-danger myshadow  "><i class="fas fa-trash"></i></a>
            </div>

            <!-- <div class="col-lg-3 col-md-3 col-xs-12 text-center">
                <a class="btn-apply-disable disabled ">See Certificates</a>
            </div> -->

        </div>
    </div>
</div>
{%endfor%}
