
{%  if user.myorganization.pins|length > 0 %}
  <div class="row">
    <div class="col-lg-12">
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>Pin Logo</th>
            <th>Pin Title</th>
            <th>Template</th>
            <th>Action</th>


          </tr>
    {% for pin in user.myorganization.pins%}
          <tr>
            <td data-th="Pin Logo">
              <img class="avatar" style="height:40px;object-fit: contain;" src="{{pin.image}}" alt="Bologna">

            </td>
            <td data-th="Pin Title">
            {{pin.title}}
            </td>
            <td data-th="Template">
              <a href="#" style="padding: 0 1.2rem; line-height:2.55" data-toggle="modal" data-target="#onviewpinmodal" onclick='onviewpin({{pin.id}},"{{pin.title}}","{{pin.desc}}","{{pin.image}}")'   class="btn  btn-outline-info myshadow"><i class="fas fa-eye"></i></a>

            </td>
            <td data-th="Action">
              <a href="#" style="padding: 0 1.2rem; line-height:2.55" data-toggle="modal" data-target="#oneditpinmodal" onclick='oneditpin({{pin.id}},"{{pin.title}}","{{pin.desc}}","{{pin.image}}")'  class="btn  btn-outline-info myshadow"><i class="fas fa-edit"></i></a>
              {%if user.myorganization.pins|length >1%}
              <a href="#" style="padding: 0 1.2rem; line-height:2.55" onclick="deletepin({{pin.id}})" class="btn  btn-outline-danger myshadow  "><i class="fas fa-trash"></i></a>
              {%endif%}
            </td>


          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>

</div>
{%else%}
<div class="row " style="height: 250px;">
    <div class="col-lg-4 text-center ml-auto mr-auto my-auto">
        <i class="fas fa-certificate text-primary" style="font-size:100px;"></i>
        <h4 class="text-primary mt-15">No Pin Created yet!</h4>
            <button type="submit" class="btn btn btn-primary" data-toggle="modal" data-target="#addpinmodal"><i class="fas fa-plus text-white"></i> Create</button>
    </div>
</div>
{%endif%}

<script>
  $(document).ready(function() {
  $('#addpinmodal').modal('hide');

  });
</script>
