<link href="{{ 'adminassets/libs/select2/select2.css'|theme }}" rel="stylesheet">

<style>
.bootstrap-select .dropdown-menu {
  top:27px !important;
}
.bootstrap-select .dropdown-menu li a {
  padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}
</style>

<div class="modal-header">
    <h3 id="exampleModalLongTitle">Create Order</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="row px-5">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Select Organization</label>
                    <select name="pin" id="selectorganization" class="selectpicker" data-style="btn-default" data-live-search="true">
                      {%for organization in organizations if organization.certificates|length != 0  %}
                            <option value="{{organization.id}}">{{organization.org_name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="col-md-6" id="selectcertificatenow">
                {% partial 'site/selectcertificate'%}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Url</label>
                    <input type="url" required name="url" class="form-control">
                    <input type="hidden" value="{{thisorganization.id}}" name="org_id" class="form-control">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Category</label>
                    <select name="category"  class="selectpicker" data-style="btn-default" data-live-search="true">
                        {%for category in categories%}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="desc" aria-label="With textarea"></textarea>
                </div>
            </div>



        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Add</button>
    </div>
</form>
<script>
$('#selectorganization').on('change', function() {
  var AddTrainer = $.request('onSelectOrganization',{data:{id:this.value}}).done(function(data) {


 })
});

</script>
