<link href="{{'assets/plugins/datatables/dataTables.bootstrap4.min.css'|theme}}" rel="stylesheet" type="text/css" />
  <link href="{{'assets/plugins/datatables/responsive.bootstrap4.min.css'|theme}}" rel="stylesheet" type="text/css" />

<link href="{{ 'assets/css/datatable.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/dashboard.css'|theme }}" rel="stylesheet">
  <style>
  .paginate_button a {
    padding-left: 15px;
    padding-right: 15px;
  }
  #example_wrapper {
    padding-left:0px !important;
    padding-right:0px !important;
  }
  </style>
<div class="col-lg-12">
    <table id="example" class="table table-hover responsive nowrap rwd-table-data"  style="width:100%">
      <thead>
        <tr>

        <th>
            Reg No#
        </th>
        <th>Certificate Title</th>
        <th>Pin Title</th>
        <th>Name</th>
        <th>Email</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>


      </tr>

  </thead>
    <tbody>

  {%for cartitem in cartitems%}
      <tr>
        <td >
        {{cartitem.reg_number}}
        </td>
        <td >
      {{cartitem.certificate.title}}  </td>
        <td >
          {{cartitem.pin.title}}
        </td>
        <td>
      {{cartitem.name}}
        </td>
        <td >
      {{cartitem.email}}
        </td>
        <td >
      {{cartitem.start_date|date("m-d-Y")}}
        </td>
        <td >
      {{cartitem.end_date|date("m-d-Y")}}
        </td>
        <td >
          <a href="#" data-toggle="modal" data-target="#editcartitemmodal" style="padding: 0 0.6rem; line-height:1.8" onclick="editcartitem({{cartitem.id}},{{cartitem.certificate_id}},'{{cartitem.email}}','{{cartitem.start_date}}','{{cartitem.end_date}}','{{cartitem.reg_number}}','{{cartitem.phone}}','{{cartitem.name}}')"  class="btn  btn-outline-info myshadow"><i class="fas fa-edit"></i></a>
          <a href="#" style="padding: 0 0.6rem; line-height:1.8" onclick="cartitemdelete({{cartitem.id}})" class="btn  btn-outline-danger myshadow  "><i class="fas fa-trash"></i></a>

        </td>


      </tr>
      {%endfor%}

    </tbody>
  </table>
</div>
<script src="{{'assets/plugins/datatables/jquery.dataTables.min.js'|theme}}"></script>
<script src="{{'assets/plugins/datatables/dataTables.bootstrap4.min.js'|theme}}"></script>
<!-- Responsive examples -->
<script src="{{'assets/plugins/datatables/dataTables.responsive.min.js'|theme}}"></script>
<script>
$(document).ready(function() {
  var table =$("#example").DataTable({
      dom: 'Bfrtip',
    responsive: true,
    "paging": true,
    columnDefs: [
      {
        responsivePriority: 1,
        targets: 0
      },
      {
        responsivePriority: 2,
        targets: -1
      }
    ]
  });
});
$(document).ready(function() {
$('#checkoutmodal').modal('hide');
$('#editcartitemmodal').modal('hide');
$('#addfilemodal').modal('hide');
 $('#addpinmodal').modal('hide');
});
</script>
